@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
  --actor1-color: #000000;
  --actor2-color: #007af3;
  --actor3-color: #8f8d14;
  --actor4-color: #8f148f;
  --menus-color: #444444
;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Roboto';
}

.mainwindow {
  padding: 0;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: #f2f2f2;
  background-color: #f2f2f2;
}

.axisCoulourScheme {
  position: fixed;
  top: 5.5%;
  left: 8.5%;
  z-index: 900;
  color: black;
  font-size: 0.8em;
}

.axisCoulourScheme .redAxis {
  color: #7F2020;
}

.axisCoulourScheme .greenAxis {
  color: #207F20;
}

.axisCoulourScheme .blueAxis {
  color: #20207F;
}

.selectUnits {
  position: fixed;
  top: 13%;
  left: 4%;
  z-index: 900;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.githubText {
  position: fixed;
  left: 1%;
  bottom: 1%;
  z-index: 900;
  font-size: 0.8em;
}

.helpBtn {
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 900;
}

/* Help Popup background */
.helpPopup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Help Popup content */
.helpPopup-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  /* Could be more or less, depending on screen size */
  /* The Close Button */
}

.helpPopup-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.helpPopup-content .close:hover,
.helpPopup-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 900;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 2em;
  text-align: center;
  padding-top: 0.25em;
}

.logo span {
  color: var(--primary-color);
}

.openNav {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
  cursor: pointer;
}

.navbar {
  height: 100%;
  width: 550px;
  z-index: 999;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: var(--menus-color);
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: center;
}

.navbar .closeNav {
  position: relative;
  top: 1em;
  left: 1em;
  z-index: 999;
  cursor: pointer;
}

a {
  color: var(--menus-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

inputmenu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

inputmenu .actor1, inputmenu .actor2, inputmenu .actor3, inputmenu .actor4 {
  display: block;
  text-align: center;
  padding-top: 1em;
}

inputmenu .actor1 .actor1Name, inputmenu .actor2 .actor1Name, inputmenu .actor3 .actor1Name, inputmenu .actor4 .actor1Name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  font-weight: bold;
  color: var(--actor1-color);
  font-size: 1em;
}

inputmenu .actor1 .actor2Name, inputmenu .actor2 .actor2Name, inputmenu .actor3 .actor2Name, inputmenu .actor4 .actor2Name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  font-weight: bold;
  color: var(--actor2-color);
  font-size: 1em;
}

inputmenu .actor1 .actor3Name, inputmenu .actor2 .actor3Name, inputmenu .actor3 .actor3Name, inputmenu .actor4 .actor3Name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  font-weight: bold;
  color: var(--actor3-color);
  font-size: 1em;
}

inputmenu .actor1 .actor4Name, inputmenu .actor2 .actor4Name, inputmenu .actor3 .actor4Name, inputmenu .actor4 .actor4Name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  font-weight: bold;
  color: var(--actor4-color);
  font-size: 1em;
}

inputmenu .actor3, inputmenu .actor4 {
  display: none;
}

inputmenu .addOrDel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

calculatemenu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

calculatemenu .selectObjectTypeMenu {
  padding-top: 2em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

calculatemenu .inputObjectTypeMenu {
  padding-top: 2em;
  padding-bottom: 2em;
  display: inline-block;
}

calculatemenu .fromToText {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
  padding-bottom: 0em;
}

calculatemenu .selectMenu {
  padding-top: 0em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

calculatemenu .calculateButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-bottom: 2em;
}

calculatemenu .calculateButton a {
  border: 3px black solid;
  border-radius: 15px;
  color: black;
  -webkit-text-decoration: bold;
          text-decoration: bold;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 85%;
  }
  .navbar {
    width: 100%;
  }
  input {
    width: 50%;
    height: 1em;
  }
  textarea {
    width: 50%;
  }
  input[type=radio] {
    width: 10%;
  }
  input[type=checkbox] {
    width: 10%;
  }
  inputmenu .actor1, inputmenu .actor2, inputmenu .actor3, inputmenu .actor4 {
    padding-top: 0em;
  }
  inputmenu .addOrDel {
    padding-top: 0em;
  }
  calculatemenu .selectObjectTypeMenu, calculatemenu .inputObjectTypeMenu, calculatemenu .fromToText, calculatemenu .selectMenu, calculatemenu .calculateButton {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}
/*# sourceMappingURL=style.css.map */