@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
  --actor1-color: #000000;
  --actor2-color: #007af3;
  --actor3-color: #8f1414;
  --actor4-color: #318f14;
  --menus-color: #444444
;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Roboto';
}

.mainwindow {
  padding: 0;
}

canvas {
  position: fixed;
  width: 100%;
  height: 80%;
  display: block;
  background: #f2f2f2;
  background-color: #f2f2f2;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 2em;
  text-align: center;
  padding-top: 0.25em;
}

.logo span {
  color: var(--primary-color);
}

.navbar {
  height: 5%;
  width: 15%;
  z-index: 999;
  position: fixed;
  right: 0;
  background: var(--menus-color);
}

.navbar li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

.navbar li a:hover {
  font-weight: bold;
}

.navbar inputmenu {
  display: none;
}

.navbar calculatemenu {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .inputmenu-open {
  cursor: pointer;
}

.navbar .calculatemenu-open {
  cursor: pointer;
}

a {
  color: var(--menus-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

inputmenu.menu-btn {
  display: block;
}

inputmenu {
  position: fixed;
  z-index: 999;
  width: 15%;
  right: 0;
  top: 5%;
  background: var(--menus-color);
  height: 85%;
}

inputmenu .input {
  padding-top: 1em;
}

inputmenu .input .actor {
  width: 20%;
  margin: 1em;
  padding: 1em;
  display: block;
}

inputmenu .input .actor .actor1Name {
  text-decoration: none;
  font-weight: bold;
  color: var(--actor1-color);
  font-size: 0.8em;
  position: relative;
  top: -8px;
  padding: none;
}

inputmenu .input .actor .actor2Name {
  text-decoration: none;
  font-weight: bold;
  color: var(--actor2-color);
  font-size: 0.8em;
  position: relative;
  top: -8px;
  padding: none;
}

inputmenu .input .actor .actor3Name {
  text-decoration: none;
  font-weight: bold;
  color: var(--actor3-color);
  font-size: 0.8em;
  position: relative;
  top: -8px;
  padding: none;
}

inputmenu .input .actor .actor4Name {
  text-decoration: none;
  font-weight: bold;
  color: var(--actor4-color);
  font-size: 0.8em;
  position: relative;
  top: -8px;
  padding: none;
}

.inputmenu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

calculatemenu.menu-btn {
  display: block;
}

calculatemenu {
  position: fixed;
  z-index: 900;
  width: 15%;
  right: 0;
  top: 5%;
  background: var(--menus-color);
  height: 85%;
  padding-top: 1em;
  text-align: center;
}

calculatemenu .selectObjectTypeMenu {
  padding-top: 1em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

calculatemenu .inputObjectTypeMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

calculatemenu .selectMenu {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

calculatemenu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: center;
}

calculatemenu a:hover {
  font-weight: bold;
}

.calculatemenu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

output {
  position: fixed;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */