@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #007af3;
    --actor1-color: #000000;
    --actor2-color: #007af3;
    --actor3-color: #8f8d14;
    --actor4-color: #8f148f;
    --menus-color: #444444
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Roboto';
}

.mainwindow 
{
    padding: 0;
}
canvas { 
    position: fixed;
    width: 100%; 
    height: 100%; 
    display: block;
    background: #f2f2f2; 
    background-color: #f2f2f2;
}

.axisCoulourScheme {
    position: fixed;
    top: 5.5%;
    left: 8.5%;
    z-index: 999;
    color: black;
    font-size: 0.8em;
    .redAxis {
        color: #7F2020;
    }
    .greenAxis {
        color: #207F20;
    }
    .blueAxis {
        color: #20207F;
    }
}

.selectUnits {
    position: fixed;
    top: 13%;
    left: 4%;
    z-index: 999;
    display: inline-flex;
    flex-direction: column;
}

.githubText {
    position: fixed;
    left: 1%;
    bottom: 1%;
    z-index: 999;
    font-size: 0.8em;
}
.helpBtn {
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 999;
}

 /* Help Popup background */
 .helpPopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Help Popup content */
  .helpPopup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    } 
  }
    
.logo {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, 0);
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2em;
    text-align: center;
    padding-top: 0.25em;

    span {
        color: var(--primary-color);
    }
}

.openNav {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 900;
    cursor: pointer;
}

.navbar {
    height: 100%;
    width: 30%;
    z-index: 999;
    position: fixed;
    right: 0;
    display: flex;
    align-items: flex-start;
        
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: center;
        }
    background: var(--menus-color);

    .closeNav {
        position: relative;
        top: 1em;
        left: 1em;
        z-index: 900;
        cursor: pointer;
    }

}

a {
    color: var(--menus-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

inputmenu {
    flex-basis: 50%;
    .actor1, .actor2, .actor3, .actor4 {
        display: block;
        text-align: center;
        padding-top: 1em;

        .actor1Name {
            display: inline-flex;
            align-items: baseline;
            text-decoration: none;
            font-weight: bold;
            color: var(--actor1-color);
            font-size: 1em;
        }
        .actor2Name {
            display: inline-flex;
            align-items: baseline;
            text-decoration: none;
            font-weight: bold;
            color: var(--actor2-color);
            font-size: 1em;
        }
        .actor3Name {
            display: inline-flex;
            align-items: baseline;
            text-decoration: none;
            font-weight: bold;
            color: var(--actor3-color);
            font-size: 1em;
        }
        .actor4Name {
            display: inline-flex;
            align-items: baseline;
            text-decoration: none;
            font-weight: bold;
            color: var(--actor4-color);
            font-size: 1em;
        }
    }

    .actor3, .actor4 {
        display: none;
    }

    .addOrDel {
        display: flex;
        padding-top: 2em;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
}

calculatemenu {
    flex-basis: 50%;
    text-align: center;

    .selectObjectTypeMenu {
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
    .inputObjectTypeMenu {
        padding-top: 2em;
        padding-bottom: 2em;
        display: inline-block;
    }
    .fromToText {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        padding-top: 2em;
        padding-bottom: 0em;
    }
    .selectMenu {
        padding-top: 0em;
        padding-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
    .calculateButton {
        display: inline-flex;
        justify-content: center;
        width: min-content;
        a {
            border: 3px black solid;
            border-radius: 15px;
            color: black;
            text-decoration: bold;
        }
        padding-bottom: 2em;
    }
}